.rocket {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.rocket img {
  width: 350px;
  height: 250px;
}

.rocket div {
  width: 70%;
}

.rocket div h3 {
  font-weight: 600;
  font-size: 20px;
}

button {
  outline: none;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.reserve {
  background-color: rgb(2, 148, 206);
  color: white;
}

.cancel {
  background-color: white;
  border: 1px solid rgb(90, 87, 87);
  color: rgb(90, 87, 87);
}

.tag {
  background-color: rgb(2, 148, 206);
  color: white;
  padding: 3px;
  border-radius: 3px;
  margin-right: 8px;
  font-size: 11px;
  font-weight: 700;
}
